{% load markdownify %}
{% block content %} 
{% if latest_posts_list %}
{% for post in latest_posts_list %}
<div class="post">
<div class="postheader">
<a class="posttitle" href={% url 'getPost' post.post_id %}>{{post.title}}</a>
<div class="postdate">
<p>{{ post.published }}</p>
</div>
</div>
<div class="postcontent">
<div style="height: 10px; width: 100%;"></div>
{{ post.preview | markdown | safe }}
</div>
</div>
{% endfor %}
{% else %}
<p>No posts are available.</p>
{% endif %} 
{% endblock %}