{% extends "posts/index.html" %}
{% load static %} 

{% block darksel %}
{% if dark %}
<link rel="stylesheet" href={% static "css/dark.css" %}>
{% else %}
<link rel="stylesheet" href={% static "css/light.css" %}>
{% endif %}
{% endblock %}

{% block darksel2 %}
{% if dark %}
{% static 'svg/sun.svg' %}
{% else %}
{% static 'svg/moon.svg' %}
{% endif %}
{% endblock %}

{% block content %}
    <script src={% static "js/drawitutil.js" %}></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src={% static "js/drawitgame.js" %}></script>
    <link rel="stylesheet" type="text/css" media="screen and (min-device-width: 800px)" href={% static "css/drawitservers.css" %} />
    <link rel="stylesheet" type="text/css" media="screen and (min-device-width: 800px)" href={% static "css/drawitgame.css" %} />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div style='margin-left:25px'>
    <h1>Drawit</h1>
    <!-- Loading container -->
    <div id="container1">
        Loading, please wait...
    </div>
    <!-- Main container -->
    <div id="container2">
        <div id="buttondisplay">
            <div id="buttonpanel" class="buttons">
                <div href="#" id="menu" title="Menu">
                </div>
                <div href="#" id="line" class="buttonselected" title="Line tool">
                </div>
                <div href="#" id="freedraw" title="Freedraw tool">
                </div>
                <div href="#" id="undo" title="Undo tool">
                </div>
                <div href="#" id="reset" title="Reset tool">
                </div>
                <div href="#" id="stroke" title="Stroke size">
                    5
                </div>
                <div href="#" id="plus" title="Increase Stroke Size">
                </div>
                <div href="#" id="minus" title="Decrease Stroke Size">
                </div>


                <div id="colorinput-wrapper" title="Color tool">
                    <input type="color" id="colorinput" />
                </div>

                <div id="save" title="Save as png">
                </div>

            </div>
            <div id="serverbuttonpanel" class="buttons">
                <div href="#" id="back" title="Go Back">
                </div>
                <div href="#" id="join" title="Join Game">
                </div>
                <div href="#" id="leave" title="Leave Game">
                </div>
                <div href="#" id="preview" title="Preview game">
                </div>
                <div href="#" id="create" title="Create Game">
                </div>
                <div href="#" id="invite" title="Copy invite url to clipboard">
                </div>
            </div>
        </div>
        <div id="mainpanel">
            <!-- Server browser -->
            <div id="container3">
                <div id="servertable-wrapper">
                    <div id="innerservertable-wrapper">
                        <table id="servertable">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Players</th>
                                <th>Privacy</th>
                                <th>Game mode</th>
                            </tr>
                        </table>
                    </div>

                    <p>Nick: <input type="text" id="servertable-nick" placeholder="guest" /> </p>
                </div>

                <div id="creategame-wrapper">
                    <p>Nick: <input id="create-nick" />
                    </p>
                    <p>Lobby Name: <input id="create-name" />
                    </p>
                    <p>Use Password:<input type="checkbox" id="create-check" /> <input id="create-pass" />
                    </p>
                    <p>Game: <select id="create-select">
                                    <option>DrawIt</option>
                                    <option>FreeDraw</option>
                    </select> </p>
                    <p><input type="button" id="create-ok" value="Create" /><input type="button" id="create-cancel" value="Cancel" />
                    </p>
                </div>
                <div id="previewgame-wrapper">
                    <p>Nick: <input id="preview-nick" />
                    </p>
                    <p>Password: <input id="preview-pass" />
                    </p>
                    <p><input type="button" id="preview-ok" value="Join" /><input type="button" id="preview-cancel" value="Cancel" />
                    </p>
                </div>

            </div>
            <div id="canvaspanel">
                <canvas id="canvas">
                    This app requires HTML5 and JS!
                </canvas>
                <p id="status">Not in a lobby</p>
            </div>
            <div id="chatpanel">
                <div id="chatdisplay">

                </div>
                <div id="chatinput">
                    <input id="input" />
                </div>
            </div>

        </div>


    </div>

    <!-- User browser -->
    <div id="container4">

    </div>
</div>
{% endblock %}