{% extends "posts/index.html" %}
{% load staticfiles %} 
{% load markdownify %}

{% block darksel %}
{% if dark %}
<link rel="stylesheet" href={% static "css/dark.css" %}>
{% else %}
<link rel="stylesheet" href={% static "css/light.css" %}>
{% endif %}
{% endblock %}

{% block darksel2 %}
{% if dark %}
{% static 'svg/sun.svg' %}
{% else %}
{% static 'svg/moon.svg' %}
{% endif %}
{% endblock %}


{% block content %} 
<div id = "posts" class="posts" style="margin-top:0px;"> 
{% if post %}
<div class="post" id = "post" data-value={{post.post_id|slugify}}>
    <div class="postheader">
        <a class="posttitle" href={% url 'getPost' post.post_id post.title|slugify %}>{{post.title}}</a> 
        <div class="postdate">
            <p>{{ post.published }}</p>
        </div>
    </div>
    {% if tags %}
    <div class="posttags">
        <!--<span class="tagslabel">Tags:</span> -->
    {% for tag in tags %}
    <a class = "tag" href={% url 'search' 'tag' tag.tag %}> {{tag.tag}} </a>
    {% endfor %}
    </div>
    {% endif %}
    <div class="postcontent">
        <div style="height: 10px; width: 100%;"></div>
        {% if md %}
        {{ text | markdown | safe }}
        {% else %}
        {{text | safe}}
        {% endif %}
    </div>
    {% spaceless %}
    <!--<div class="split"></div>-->
    
    {% endspaceless %}

    <!--If comments-->
    <div class = "postcomments">

        {% if amount_comments > -1 %}

        <div class = "postcomments-text">
            <textarea id = "comment-text">Test</textarea>
        </div>

        <div class = "button" id = "comment-button">
            Comment
        </div>
        
        <div class = "postcomments-amount">
            There are {{amount_comments}} comment(s):
        </div>

        <div class = "postcomments-comments">
            {% for comment in comments %}
            <div class = "comment">
                <div class = "comment-info">
                    <div class = "comment-author">{{comment.author_name}}</div>
                    <div class = "comment-date">{{comment.published}}</div>
                </div>
                <div class = "comment-content">
                    {{comment.content}}
                </div>
            </div>
            {% endfor %}
        </div>

        {% else %}

        <div class = "nocomments">
            Comments have been disabled for this post.
        </div>

        {% endif %}

        
        <!-- for comment in comments-->
        
    </div>

</div>
{% else %}
    <p>Post does not exist!</p>
{% endif %}
</div> 
{% endblock %}