{% extends "posts/index.html" %}
{% load staticfiles %} 
{% load markdownify %}

{% block darksel %}
{% if dark %}
<link rel="stylesheet" href={% static "css/dark.css" %}>
{% else %}
<link rel="stylesheet" href={% static "css/light.css" %}>
{% endif %}
{% endblock %}

{% block darksel2 %}
{% if dark %}
{% static 'svg/sun.svg' %}
{% else %}
{% static 'svg/moon.svg' %}
{% endif %}
{% endblock %}


{% block content %} 
<div id = "posts" class="posts" style="margin-top:0px;"> 
{% if post %}
<div class="post">
    <div class="postheader">
        <a class="posttitle" href={% url 'getPost' post.post_id post.title|slugify %}>{{post.title}}</a> 
        <div class="postdate">
            <p>{{ post.published }}</p>
        </div>
    </div>
    {% if tags %}
    <div class="posttags">
        <!--<span class="tagslabel">Tags:</span> -->
    {% for tag in tags %}
    <a class = "tag" href={% url 'search' 'tag' tag.tag %}> {{tag.tag}} </a>
    {% endfor %}
    </div>
    {% endif %}
    <div class="postcontent">
        <div style="height: 10px; width: 100%;"></div>
        {{ post.content | markdown | safe }}
    </div>
    {% spaceless %}
    <!--<div class="split"></div>-->
    
    {% endspaceless %}

    <!--If comments-->
    <div class = "postcomments">

        <div class = "postcomments-text">
            <textarea>Test</textarea>
        </div>

        <div class = "button">
            Comment
        </div>
        
        <div class = "postcomments-amount">
            There are 12 comments:
        </div>
    </div>

</div>
{% else %}
    <p>Post does not exist!</p>
{% endif %}
</div> 
{% endblock %}