{% extends "posts/index.html" %} 
{% load markdownify %}
{% load staticfiles %}

{% block darksel %}
{% if dark %}
<link rel="stylesheet" href={% static "css/dark.css" %}>
{% else %}
<link rel="stylesheet" href={% static "css/light.css" %}>
{% endif %}
{% endblock %}

{% block darksel2 %}
{% if dark %}
{% static 'svg/sun.svg' %}
{% else %}
{% static 'svg/moon.svg' %}
{% endif %}
{% endblock %}

{% block content %} 
<div id = "search">
    <!-- <div id = "searchinput">
        Search for posts: <input type="text"></input>
    </div> -->
    <div id = "searchinput" class = "searchinput" style='display:none'>
        <input type="search" placeholder="Search for posts..." style='color:black;'></input> 
        <img src={% if dark %}{% static 'svg/magnify.svg' %}{% else %}{% static 'svg/magnify-light.svg' %}{% endif %} id ='searchimage' class ='searchimage'></img>
        <!-- <img src={% static 'svg/magnify.svg' %} id ='showtags' class = 'showtags'></img> -->
    </div>
    <div id="viewtags">
      <a href='#' id='showtags'>Show tags</a>
      <div id='displaytags' style='margin-top:5px;display:none'>
        {% for t in tags %}
        <a href={% url 'search' 'tag' t.tag %} class = "tag"> {{t}} </a>
        {% endfor %}
      </div>
    </div>
    <div id = "amountposts">
        <h2 class = 'searchresponse'>
            {{amount}} Post{% if amount != 1 %}s{% endif %}
            {% if hastag %}{% if tag is None %}, the tag does not exist! </h2> {% else %} {% if amount == 1 %} has {% else %} have {% endif %} the tag </h2> <span class = "tag"> {{tag}} </span> {% endif %} 
            {% else %} </h2> {% endif %}
    </div>
</div>
<div id = "posts" class="posts" style="margin-top:0px;">        
{% if latest_posts_list %}
{% for post in latest_posts_list %}
<div class="post">
    <div class="postheader">
        <a class="posttitle" href={% url 'getPost' post.post_id post.title|slugify %}>{{post.title}}</a> 
        <div class="postdate">
            <p>{{ post.published }}</p>
        </div>
    </div>
    {% if post.tags.all %}
    <div class="posttags">
        <!--<span class="tagslabel">Tags:</span> -->
    {% for tag in post.tags.all %}
    <a class = "tag" href={% url 'search' 'tag' tag.tag %}> {{tag.tag}} </a>
    {% endfor %}
    {% endif %}
    </div>
    <div class="postcontent">
        <div style="height: 10px; width: 100%;"></div>
        {{ post.preview | markdown | safe }}
    </div>
    <a href={% url 'getPost' post.post_id post.title|slugify %}>
        Continue reading...
    </a>
</div>
{% endfor %}
{% if more_posts %}
<div id = "morePosts" class = "button">
    More Posts 
</div>
{% endif %}
{% else %}
    <p>No posts are available.</p>
{% endif %}
</div>
{% endblock %}